<div class="sixteen columns">
	<h1>About#home</h1>
	<p>Find me in app/views/pages/about.html.erb</p>	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facere, dolor voluptatum aspernatur repellendus corrupti porro architecto labore dolores praesentium. Veritatis obcaecati et suscipit est minima dolore illum culpa soluta nihil accusamus. Impedit, eos consectetur labore sit non a voluptatem neque deserunt in ullam! Tempore unde magnam doloribus beatae sed?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facere, dolor voluptatum aspernatur repellendus corrupti porro architecto labore dolores praesentium. Veritatis obcaecati et suscipit est minima dolore illum culpa soluta nihil accusamus. Impedit, eos consectetur labore sit non a voluptatem neque deserunt in ullam! Tempore unde magnam doloribus beatae sed?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, facere, dolor voluptatum aspernatur repellendus corrupti porro architecto labore dolores praesentium. Veritatis obcaecati et suscipit est minima dolore illum culpa soluta nihil accusamus. Impedit, eos consectetur labore sit non a voluptatem neque deserunt in ullam! Tempore unde magnam doloribus beatae sed?
	</p>				
</div>