<div class="sixteen columns">
	<h1>Pages#contact</h1>
	<p>Find me in app/views/pages/contact.html.erb</p>
	<p><%= @text %></p>
	<p>
		For the first two seasons, Riker is portrayed as bold and confident, an ambitious young officer; however, over time Riker's character becomes more reserved, as experience teaches him the wisdom of a patient, careful approach. He becomes comfortable on the Enterprise, repeatedly turning down offers of his own command, and he learns to cherish the company of his fellow officers. Nonetheless, Riker retains a willingness to occasionally disregard the chain of command. Riker is usually referred to as "Will", although in early first-season episodes of TNG he is sometimes called "Bill" by Deanna Troi. He is also usually (and informally) called "Number One" by Captain Picard, because of his position as first officer on the Enterprise.
	</p>
	<p>
		Riker's background is first explored in the second-season episode The Icarus Factor. In the episode, Riker's estranged father, Kyle, visits the Enterprise to offer his son the command of the USS Aries, which Riker refuses. We learn that Riker grew up in Valdez, Alaska; that his mother, Elizabeth, died when he was two years old; and that he was raised by his father until the age of 15, when he left home. In the episode, Riker had not spoken with his father for 15 years, but they manage to partially mend their relationship over a game of martial-arts sparring called Anbo-jitsu. In the episode "Lower Decks" a waiter at Ten Forward mistakenly states that Riker is Canadian. According to the Voyager episode "Death Wish" (which Riker made a guest appearance in), Riker's distant ancestors also lived in the United States: during the American Civil War, his ancestor Colonel Thaddius Riker fought on the Union side, as an officer in the 102nd New York Infantry Regiment during the Atlanta Campaign.
	</p>
</div>


