<div class="container" style="padding-top: 40px;">
	<div class="sixteen columns">
		<h1>Pages#home</h1>
		<p>Find me in app/views/pages/home.html.erb</p>	
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, temporibus, necessitatibus, recusandae, cum cumque laborum odit inventore veniam molestiae a asperiores quae similique impedit obcaecati quis qui deserunt iusto? Quasi, molestiae, quo, unde, porro laboriosam ipsum error debitis quis tenetur ducimus a nam corrupti! Amet, veritatis, atque molestias praesentium esse sapiente delectus aut accusantium laborum adipisci ratione ipsum mollitia eaque quia libero iusto maxime nulla eum quis a. Facere, consectetur.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, temporibus, necessitatibus, recusandae, cum cumque laborum odit inventore veniam molestiae a asperiores quae similique impedit obcaecati quis qui deserunt iusto? Quasi, molestiae, quo, unde, porro laboriosam ipsum error debitis quis tenetur ducimus a nam corrupti! Amet, veritatis, atque molestias praesentium esse sapiente delectus aut accusantium laborum adipisci ratione ipsum mollitia eaque quia libero iusto maxime nulla eum quis a. Facere, consectetur.
		</p>		
	</div>
</div>
