// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: whitesmoke;
}

nav {
	background-color: tomato;
	color: white;
	padding: 1em;
	margin: 1em 0;
	ul {
		margin: 0;
		li {
			display: inline-block;
			margin: 0;
		}
	}
}

a, a:visited {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}	
}